# JWT Authentication configuration
SECRET_KEY=9478f7e27c5dbf5f40954b4d6b63390c58a5f4e19191d90c01cf26a8d8e57be7
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Database Configuration
DATABASE_URL=sqlite:///./biopatch.db
